body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Raleway";
    overflow-x: hidden;
}

/* Хэдер */

header {
    background-color: transparent;
    margin: 0;
}

.header__container {
    padding-left: 2vw;
    padding-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.item__container {
    display: flex;
    justify-content: flex-end; /* чтобы элементы внутри блока прижались к низу */
    align-items: flex-end; /* чтобы элементы внутри блока прижались к низу */
    width: 10vw; /* ширина блока */
    box-sizing: border-box;
}

.header__container .item__container:last-child {
    margin-left: 50vw; /* сдвигает последний блок вправо */
}
.logo__text {
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    font-size: medium;
    text-decoration: none;
    color: black;
}

.logo {
    width: 25px;
    height: 25px;
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: medium;
    color: black;
    transition: color 0.3s ease;
}

.nav__link:hover {
    color: #006DAA;
}

.basket__logo {
    width: 25px;
    height: 25px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro__container {
    text-align: center;
    margin-top: 30px;
    
}

.intro__subtitle {
    font-family: "Roboto";
    text-transform: uppercase;
    font-style: italic;
    font-size: 50px;
}

.intro__title {
    font-family: "Raleway";
    text-transform: uppercase;
    font-style: italic;
    font-size: 60px;
}

.content__container {
    margin-left: 1vw;
    margin-right: 1vw;
}

h3 {
    font-size: 50px;
}

p {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.button__next, .button__prev {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    z-index: 2;
    width: 100px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0093E6;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 2;
}

button:hover {
    background-color: #006DAA;
}

.links_container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}

.gallery-link__container, .catalog-link__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer {
    background-color: #EDEDED;
    margin-left: 10vw;
    margin-right: 10vw;
}
  
.footer__inner {
    width: 100%;
    margin: 0;
    padding: 55px 0 60px;
}
  
.footer__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
  

.footer__list-item {
    width: 20%;
    margin-bottom: 20px;
}
  .footer__list-item:hover .footer__logo {
    fill: #006DAA;
}
  
.footer__logo {
    display: block;
    margin: 0 auto;
    transition: fill 0.1s linear;
}
.footer__logo:nth-child(1) {
    width: 120px;
    height: 90px;
}
.footer__logo:nth-child(2) {
    width: 100px;
    height: 100px;
 }
.footer__logo:nth-child(3) {
    width: 140px;
    height: 95px;
}
.footer__logo:nth-child(4) {
    width: 100px;
    height: 100px;
}
.footer__logo:nth-child(5) {
    width: 100px;
    height: 70px;
}

ul {
    list-style-type: none;
    padding: 0; /* Убирает отступы, которые могут быть у списка по умолчанию */
    margin: 0; /* Убирает внешние отступы списка */
}

.copyright {
    padding-bottom: 25px;
    position: relative;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    line-height: 23.48px;
    text-align: center;
}